# Week 6-8 영어 DTM 만들기 Lab

1. smartthings_e_review_result.csv 파일을 열어서 review_df에 저장하시오.

In [1]:
import os
import pandas as pd

os.chdir(r'C:\Users\Administrator\Downloads\6주차_11일차,12일차_자연어처리\Week6 자연어처리 Data')
review_df=pd.read_csv("smartthings_e_review_result.csv")

review_df

,date,star,like,comment,comment_n
0,"September 19, 2021",1,15.0,Really unbelievable you can't even turn on a S...,"['really', 'unbelievable', 'even', 'turn', 'sa..."
1,"September 17, 2021",1,12.0,This app is so bad. It continually and randoml...,"['app', 'bad', 'continually', 'randomly', 'tra..."
2,"September 17, 2021",2,11.0,I have this app on Android and iOS. It will no...,"['app', 'android', 'io', 'allow', 'add', 'phot..."
3,"September 15, 2021",2,15.0,Watch app does not sync current state status f...,"['watch', 'app', 'sync', 'current', 'state', '..."
4,"September 11, 2021",1,8.0,"Unable to add my hue lights, every function co...","['unable', 'add', 'hue', 'light', 'every', 'fu..."
...,...,...,...,...,...
10955,"November 16, 2019",1,NaN,Wont connect to my Samsung tv. Using samsung p...,"['wont', 'connect', 'samsung', 'tv', 'using', ..."
10956,"December 12, 2020",3,NaN,This is good but have one issue with 4D-pad wh...,"['good', 'one', 'issue', 'pad', 'app', 'go', '..."
10957,"December 14, 2019",1,NaN,"App crashes and stops. Removed, reinstall, try...","['app', 'crash', 'stop', 'removed', 'reinstall..."
10958,"January 17, 2019",1,NaN,since this smart things came in they took the ...,"['since', 'smart', 'thing', 'came', 'took', 'q..."
10959,"January 8, 2020",4,NaN,"It is good, you can do a lot, wish if they can...","['good', 'lot', 'wish', 'add', 'flexibility', ..."

In [2]:
review_df.loc[0,'comment_n']

"['really', 'unbelievable', 'even', 'turn', 'samsung', 'television', 'samsung', 'phone', 'absolutely', 'user', 'friendly', 'time', 'figured', 'forgot', 'next', 'time', 'glitchy', 'never', 'hold', 'setting', 'automation', 'work', 'correctly', 'interface', 'say', 'even', 'bixby', 'full', 'review']"

In [3]:
eval(review_df.loc[0,'comment_n'])

['really',
 'unbelievable',
 'even',
 'turn',
 'samsung',
 'television',
 'samsung',
 'phone',
 'absolutely',
 'user',
 'friendly',
 'time',
 'figured',
 'forgot',
 'next',
 'time',
 'glitchy',
 'never',
 'hold',
 'setting',
 'automation',
 'work',
 'correctly',
 'interface',
 'say',
 'even',
 'bixby',
 'full',
 'review']

2. comment_n 컬럼값을 리스트로 변환하고 다시 하나의 문자열로 만들어서 comment_n_str 컬럼을 추가하시오.

3. commnet_n_str 컬럼을 사용하여 CountVectorizer를 이용하여 DTM를 생성하시오.

4. commnet_n_str 컬럼을 사용하여 TfidfVectorizer를 이용하여 DTM를 생성하시오.